<h2>Edit article</h2>
<% #possible to use variable article_path instead %>
<%= form_for :article, url: article_path(@article), method: :put do |f| %>
	<p>
		<%= f.label :text %><br/>
		<%= f.text_area :text %>
	</p>

	<p>
		<%= f.submit %><br/>
	</p>

<% end %>